html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  background-attachment: fixed; /* keep fixed when scrolling */
  font-family: "Segoe UI", sans-serif;
}

.nav-link {
  color: white !important;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: #ffdd57;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}
